p {
    width: 100px;
    height: 100px;
    background-color: rgb(148, 139, 124);
    font-family: 'Muli', sans-serif;
}

div :nth-child(3) {
    background-color: rgb(238, 163, 43);
}

div :nth-child(5) {
    background-color: rgb(238, 163, 43);
}

div :nth-child(9) {
    background-color: rgb(238, 163, 43);
}

div :nth-child(6) {
    opacity: 0.5;
}

div :nth-child(7) {
    opacity: 0.5;
}